name: publish-svelte

on:
  workflow_dispatch:
  release:
    types: [created]
    paths:
      - "packages/svelte/**"

jobs:
  publish-npm-registry:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./packages/svelte

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          registry-url: 'https://registry.npmjs.org'
          scope: '@dooboo'

      - name: Install modules
        run: npm install

      - run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
